@font-face {
    src: url(Ressources/ytk.ttf);
    font-family: yk;
}

.logo {
    width: 50px;
    background-color: gray;
}

h1 {
    text-align: center;
    background-color: gray;
    font-family: yk, sans-serif;
    
}
p {
    
}