@font-face {
    src: url(Ressources/KimsBitHand.ttf);
    font-family: nokia;
}

body {
    background-image: url("Ressources/sparkle.gif");
}

a:link {
    color: #fe61c2;}
a:hover{
    color: yellow;}
a:visited {
    color: darkorchid;}
a:active {
    background-color: aliceblue;}

em {
    color: #a1ffdc;
}
/* HEADER 
################################
################################
################################
################################
*/

.logo {
    width: 10em;
    padding: 1em;
    background-color: rgba(216, 32, 32, 0);
}
.internet {
    align-items: center;
    width: auto;
    height: 3.5em;
    background-color: rgba(0, 81, 255, 0);

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 220, 0);
    width: 100%;
}


header li {
    display: inline;
    padding: clamp(0,2em,5em);
    align-content: center;
}

/* BODY 
################################
################################
################################
################################
*/


body {
    margin:0;
    color: white;
    font-family: nokia;
    font-size: medium;
    position: relative;
    width: auto;
}

#page-container {
    position: relative;
    min-height: calc(100vh - calc(2.5rem + 2em));
}    
#content-wrap {
    padding: 1em;
    padding-bottom: calc(2.5rem + 2em);
}


.article {
    border-bottom: 4px solid rgb(53, 38, 118);
    background: rgb(22, 0, 58);
    padding: 1%;
    border-radius: 10px;
}
 
.articleup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.audiotheme {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

audio {
    max-width: 80%;
}

h2 {
    margin: 10px;
    background: rgb(53, 38, 118);
    text-align: center;
    border: rgb(53, 38, 118) solid;
    border-radius: 5px;
    color: #89DAFF;
    padding: 5px;
    font-size: 50px;

}

.image {
    max-width: 50%;
    height: 50%;
    
    border-radius: 5px;
    border: 2px solid ;
    border-bottom: 4px solid;   
    border-color: rgb(53, 38, 118);
  }


/* FOOTER 
################################
################################
################################
################################
*/

footer {
    height: 5em;
    display: flex;
    font-size: 10px;
    text-align: right;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 0px;
    width: 100%;

    background: url("Ressources/sparkle_alt.gif");
    border-top: 1px solid gray;
} 


.info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.fp {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    height: 1em;
}

.footerico {
    margin: 0;
    padding: 0;
    height: 1em; 
}

@media (orientation:portrait){
    .internet:last-child {
        width: 0;
    }
    
    .ytbjojo {
        width: 40%;

    }
    .image {
        max-width: 90%;
    }

    .articleup {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    
    .audiotheme {
        margin: 16px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .fp{
        font-size: large;
    }

    footer {
    display: flex;
    font-size: 10px;
    text-align: right;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 0px;
    width: 100%;

    background: url("Ressources/sparkle_alt.gif");
    border-top: 1px solid gray;
    }
}