@font-face {
    src: url(Ressources/nokiafc22.ttf);
    font-family: nokia;
}

body {
    background-image: url("Ressources/sparkle.gif");
}

a:link {
    color: #fe61c2;}
a:hover{
    color: yellow;}
a:visited {
    color: darkorchid;}
a:active {
    background-color: aliceblue;}

em {
    color: #a1ffdc;
}
/* HEADER 
################################
################################
################################
################################
*/

.logo {
    width: 10em;
    padding: 1em;
    background-color: rgba(216, 32, 32, 0);
}
.internet {
    align-items: center;
    width: auto;
    height: 3.5em;
    background-color: rgba(0, 81, 255, 0);

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 220, 0);
}


header li {
    display: inline;
    padding: clamp(0,2em,5em);
    align-content: center;
}

/* BODY 
################################
################################
################################
################################
*/


body {
    margin:0;
    padding-top: 2em;
    color: white;
    font-family: nokia;
    font-size: medium;
    position: relative;
    min-height: calc(100vh - 2em);
}

#page-container {
    position: relative;
    min-height: calc(100vh - calc(2.5rem + 2em));
}    
#content-wrap {
    padding: 1em;
    padding-bottom: calc(2.5rem + 2em);
}


.article {
    border-bottom:1px dotted #a1ffdc;
    background: #ffffff00;
    padding: 1em;
    border-radius: 10px;
}
 
.articleup {
    display: flex;
}

.audiotheme {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    border-bottom: 1px dotted #a1ffdc;
    border-top: 1px dotted #a1ffdc;;
    background: #ffffff00;
    text-align: center;
    border-radius: 10px;
    color: #6cf97a;
    padding-top: 0em;
    font-size: 50px;

}

.image {
    width: clamp(5%, 40em, 60%);
    height: auto;
    border-radius: 5px;
    border: 2px solid #a7fff8;
  }


/* FOOTER 
################################
################################
################################
################################
*/

footer {
    height: 5em;
    display: flex;
    font-size: 10px;
    text-align: right;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 0px;
    width: 100%;

    background: url("Ressources/sparkle_alt.gif");
    border-top: 1px solid gray;
} 


.info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.fp {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    height: 1em;
}

.footerico {
    margin: 0;
    padding: 0;
    height: 1em; 
}
@media (orientation:portrait){
    .ytbjojo {
        width: 40%;

    }
    .image {
        aspect-ratio: 16/9;
        width: 400px;
        
    }

    .fp{
        font-size: large;
    }

    footer {

    }
}